$white:white;
$black:#24303E;
$text:#808397;
$titre_cerise:#24554A;
$text_cerise: #3E7467;
$titre_orange: #052C3B;
$text_orange:#19536C;
$titre_team:#A7AAAD;
$text_team: #5B636D;
$lien_footer: #458D7E;
$jaune:#FAD400;
$orange:#FE7766;
$bg_footer:#90D4C6;

$width_total: 1440px;